/*------------------------------------------------------------------
Default theme  Stylesheet
-------------------------------------------------------------------*/
::-moz-selection {
    color: #fff;
    background: #16b8ed;
    text-shadow: none;
}
::selection {
    color: #fff;
    background: #16b8ed;
    text-shadow: none;
}

::-moz-selection {
    /* Firefox */
    color: #fff;
    background: #16b8ed;
    text-shadow: none;
}

::-webkit-selection {
    /* Safari */
    color: #fff;
    background: #16b8ed;
    text-shadow: none;
}

a,
.menuzord-menu > li.active > a,
.menuzord-menu > li:hover > a,
.portfolio-with-title .portfolio-title h4 a:hover,
.f-link:hover,
#footer .f-list li a:hover,
.featured-item.border-box:hover .icon i,
.post-single .post-cat li a:hover,
.post-single .post-desk h4 a:hover,
.post-single .post-desk a.author:hover,
.post-list .post-single .post-cat li a,
.portfolio-description a:hover,
.portfolio-title a:hover,
.post-sub-title,
.team-member .s-link a:hover,
.t-s-link a:hover,
.price-col.feature h1,
.widget-category li a:hover,
.widget-comments li a:hover,
.blog-classic .blog-post h4 a:hover,
.post-meta li a:hover,
.widget-latest-post .w-desk a:hover,
.comments-list .comment-author a:hover,
.comments-list .comment-item-data a:hover,
.product-title h5 a:hover,
.comments-list .comment-info a:hover,
.portfolio-with-title.blog-m .portfolio-title .date a:hover,
.comments-list .comment-info .comment-author a:hover,
.icon-tabs .nav-pills > li > a:hover,
.icon-tabs .nav-pills > li.active > a,
.icon-tabs .nav-pills > li.active > a:focus,
.icon-tabs .nav-pills > li.active > a:hover,
.cd-nav .cd-primary-nav li.selected a,
.no-touch .cd-nav .cd-primary-nav a:hover,
.intro-portfolio a:hover {
    color: #16b8ed;
}

.theme-color {
    color: #16b8ed !important;
}

.theme-bg,
.massive-progress.progress-theme-color .progress-bar,
.massive-progress-alt.progress-theme-color .progress-bar,
.ei-slider-thumbs li.ei-slider-element,
.massive-progress.progress-theme-color .progress-bar > span,
.massive-progress.progress-theme-color .progress-bar > span:before {
    background: #16b8ed !important;
}

.massive-progress.progress-theme-color .progress-bar > span:before {
    border-color: #16b8ed;
}

.btn-theme-border-color,
.widget-social-link a:hover,
.widget-tags a:hover {
    border: 1px solid #16b8ed;
}

.icon-tabs .nav-pills > li > a:hover,
.icon-tabs .nav-pills > li.active > a,
.icon-tabs .nav-pills > li.active > a:focus,
.icon-tabs .nav-pills > li.active > a:hover {
    border-bottom: 1px solid #16b8ed;
}

.btn-theme-border-color:hover,
.price-col.feature .p-btn:hover,
.side-social-link a:hover,
.massive-progress.progress-theme-color .progress-bar > span:before {
    border: 1px solid #16b8ed;
}

.accordion.time-line > dt > a:hover:after,
.accordion.time-line > dt > a.active:after,
.accordion.time-line > dt > a.active:hover:after,
.toggle.time-line > dt > a:hover:after,
.toggle.time-line > dt > a.active:after,
.toggle.time-line > dt > a.active:hover:after,
.btn-dark-solid:hover,
.btn-dark-solid:focus,
.btn-theme-color,
.btn-theme-border-color:hover,
.btn-light-solid:hover,
.feature-border-box:hover .icon,
.price-col.feature .p-btn:hover,
.side-social-link a:hover,
.widget-social-link a:hover,
.widget-tags a:hover,
.sale-label,
.stock .status,
.lift-off:hover,
.menuzord-menu ul.dropdown li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row li:hover a,
.travel-form.icon-tabs .nav-pills > li > a:hover,
.travel-form.icon-tabs .nav-pills > li.active:hover > a,
.travel-form.icon-tabs .nav-pills > li.active > a,
.travel-form.icon-tabs .nav-pills > li.active > a:focus {
    background: #16b8ed;
}

.menuzord .menuzord-menu ul.dropdown li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a {
    color: #fff;
}

@media (min-width: 768px) {
    .c-nav_s-underline.menuzord-menu > li.active > a,
    .c-nav_s-underline.menuzord-menu > li:hover > a {
        border-bottom: 1px solid #16b8ed;
    }
    .c-nav_s-outline.menuzord-menu > li.active > a,
    .c-nav_s-outline.menuzord-menu > li:hover > a {
        border: 1px solid #16b8ed;
    }
    .c-nav_s-bg.menuzord-menu > li.active > a,
    .c-nav_s-bg.menuzord-menu > li:hover > a {
        background: #16b8ed;
    }
}

.btn-banner {
    border-color: #002328;
}
.btn-banner:hover {
    border-color: #16b8ed;
}

.btn-w-200 {
    width: 200px;
}

.icon-guard {
    display: inline-block;
    width: 38px;
    height: 49px;
    background-image: url("../img/guard-icon.png") !important; 
    font-size: 0;
}

.icon-square {
    display: inline-block;
    width: 45px;
    height: 46px;
    background-image: url("../img/square-icon.png") !important; 
    font-size: 0;
}

.icon-brain {
    display: inline-block;
    width: 49px;
    height: 41px;
    background-image: url("../img/brain-icon.png") !important; 
    font-size: 0;
}

.featured-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-align-items: center;
            align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}
@media (max-width: 991px) {
    .featured-block {
                flex-direction: column; 

        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-box-pack: center;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
        -ms-flex-pack: center;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: center;
                justify-content: center;
    }
}
.featured-block__item {
    margin-bottom: 45px;
}
@media (min-width: 992px) {
    .featured-block__item:first-child {
        max-width: 355px;
        padding-right: 30px;

        -webkit-align-self: flex-start;
                align-self: flex-start; 
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 355px;
            -ms-flex: 0 1 355px;
                flex: 0 1 355px;
        -ms-flex-item-align: start;
    }
    .featured-block__item:last-child {
        max-width: 355px;
        padding-left: 30px;

        -webkit-align-self: flex-start;
                align-self: flex-start; 
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 355px;
            -ms-flex: 0 1 355px;
                flex: 0 1 355px;
        -ms-flex-item-align: start;
    }
}
@media (max-width: 991px) {
    .featured-block__item {
        max-width: 100%;
        margin-bottom: 90px; 
        padding: 0 50px;

        -webkit-box-flex: 0;
        -webkit-flex: 0 1 100%;
            -ms-flex: 0 1 100%;
                flex: 0 1 100%;
    }
}
.featured-block__title {
    margin-bottom: 12px;
    text-transform: uppercase;
    color: #222; 
    font-size: 24px;
}
@media (max-width: 991px) {
    .featured-block__title {
        text-align: center;
    }
}
.featured-block__text {
    text-align: justify;
    color: #727171;
    font-size: 14px;
}
.featured-block__text p {
    margin: 0 0 15px;
    color: #727171;
    line-height: normal;
}

.icon-sec-2-1 {
    display: inline-block;
    width: 42px;
    height: 40px;
    background-image: url("../img/sec-2-icon-1.jpg") !important;
}

.icon-sec-2-2 {
    display: inline-block;
    width: 34px;
    height: 43px;
    background-image: url("../img/sec-2-icon-2.jpg") !important;
}

.icon-sec-2-3 {
    display: inline-block;
    width: 35px;
    height: 32px;
    background-image: url("../img/sec-2-icon-3.jpg") !important;
}

.icon-sec-2-4 {
    display: inline-block;
    width: 40px;
    height: 41px;
    background-image: url("../img/sec-2-icon-4.jpg") !important;
}

.heading-title__subtitle {
    letter-spacing: 1.4px; 
    text-transform: uppercase;
    color: #222;
    font-size: 14px;
    font-weight: 400;
}

.flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
@media (max-width: 991px) {
    .flex-row {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
}
.flex-row__col-2 {
    max-width: 50%; 

    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
}
@media (max-width: 991px) {
    .flex-row__col-2 {
        max-width: 100%; 

        -webkit-box-flex: 0;
        -webkit-flex: 0 1 100%;
            -ms-flex: 0 1 100%;
                flex: 0 1 100%;
    }
}
.flex-row__col-2--25:first-child {
    padding-right: 25px;
}
@media (max-width: 991px) {
    .flex-row__col-2--25:first-child {
        padding-right: 0;
    }
}
.flex-row__col-2--25:last-child {
    padding-left: 25px;
}
@media (max-width: 991px) {
    .flex-row__col-2--25:last-child {
        padding-left: 0;
    }
}

.default-text {
    margin-bottom: 50px; 
    text-align: justify;
    color: #727171;
    font-size: 14px;
    line-height: normal;
}
@media (max-width: 991px) {
    .default-text {
        margin-bottom: 40px;
    }
}

#sticky-wrapper {
    height: auto !important;
}

.darck-bg {
    background-color: #101218;
}

.section-3-bg {
    background-image: url("../img/cub-layout.jpg");
    background-position: 50% 50%; 
    background-size: cover;
}

.support {
    padding-top: 80px;
    color: #fcf8f8;
}
@media (max-width: 991px) {
    .support {
        padding-top: 0;
    }
}
.support__head {
    margin-bottom: 30px;
}
.support__title {
    margin: 0 0 20px 0;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #fcf8f8;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
}
.support__desc {
    letter-spacing: 1px; 
    font-size: 10px;
}
.support__info-title {
    margin: 0 0 20px 0; 
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #fcf8f8;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}
.support__item {
    margin: 0 0 10px 0; 
    letter-spacing: 1.2px;
    color: #fcf8f8;
    font-size: 12px;
    line-height: normal;
}

.responsive-img {
    text-align: center;
}

.info-block {
    position: relative; 
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}
@media (max-width: 991px) {
    .info-block {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
}
.info-block__item {
    max-width: 50%;
    margin-bottom: 300px; 

    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
}
@media (max-width: 991px) {
    .info-block__item {
        max-width: 100%;
        margin-bottom: 40px; 

        -webkit-box-flex: 0;
        -webkit-flex: 0 1 100%;
            -ms-flex: 0 1 100%;
                flex: 0 1 100%;
    }
}
.info-block__item--left {
    text-align: left;
}
@media (max-width: 991px) {
    .info-block__item--left {
        text-align: center;
    }
}
.info-block__item--right {
    text-align: right;
}
@media (max-width: 991px) {
    .info-block__item--right {
        margin-bottom: 0; 
        text-align: center;
    }
}
.info-block__inner {
    display: inline-block;
    max-width: 484px;
    padding: 0 50px;
    text-align: center;
}
@media (max-width: 991px) {
    .info-block__inner {
        padding: 0 20px;
    }
}
.info-block__title {
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #222;
    font-size: 18px; 
    font-weight: normal;
}
.info-block__desc {
    margin-bottom: 15px; 
    color: #727171;
    line-height: normal;
}
.info-block__link {
    color: #d6b161;
}
.info-block__devider {
    position: absolute;
    top: 73px;
    left: 50%;
    width: 1px;
    height: 320px;
    opacity: .1; 
    background-color: #030303;
}
@media (max-width: 991px) {
    .info-block__devider {
        display: none;
    }
}

img {
    max-width: 100%;
}

.page-content--section-6 {
    background-image: url("../img/section-6.jpg");
    background-repeat: no-repeat; 
    background-position: 50% 100%;
    background-size: auto;
}
@media (max-width: 991px) {
    .page-content--section-6 {
        background-image: none;
    }
}

.page-content--section-7 {
    position: relative;
    display: block;
    width: 100%;
    max-height: 100%;
    padding: 0 0 35% 0;
    text-align: center;
    background-color: #f2f2f2;
    background-image: url("../img/section-7.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: cover;
}
@media (max-width: 991px) {
    .page-content--section-7 {
        padding: 100px 0;
        background-image: none;
    }
}

.page-content--section-7 .container {
    position: relative;
}

.token {
    position: absolute;
    top: 0; 
    left: 0;
    padding: 70px 0;
}
@media (max-width: 991px) {
    .token {
        padding: 0;
    }
}
@media (max-width: 991px) {
    .token {
        position: relative;
    }
}
.token__item {
    text-align: left; 
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
    line-height: 28px;
}
@media (max-width: 991px) {
    .token__item {
        text-align: center;
    }
}

.default-list {
    margin: 0;
    padding: 0;
}
.default-list__item {
    position: relative;
    padding: 0 0 5px 20px;
    list-style: none;
    color: #727171;
    font-size: 14px; 
    line-height: normal;
}
.default-list__item:before {
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 13px;
    height: 10px;
    content: "";
    background-image: url("../img/list-item.jpg");
}

.list-block {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-block__item:not(:last-child) {
    margin-bottom: 30px;
}
.list-block__inner {
    width: 202px;
    height: 101px;
    border: 1px solid #000;
}

@media (min-width: 768px) {
    .container--big {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container--big {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container--big {
        width: 1170px;
    }
}

@media (min-width: 1600px) {
    .container--big {
        width: 1430px;
    }
}

.row--inline {
    font-size: 0;
}

.col-md-2--norm {
    display: inline-block;
    width: 16.66666667%;
    padding-right: 15px; 
    padding-left: 15px;
    vertical-align: top;
    font-size: 1rem;
}
@media (max-width: 992px) {
    .col-md-2--norm {
        width: 33.3333333%;
    }
}
@media (max-width: 768px) {
    .col-md-2--norm {
        width: 25%;
    }
}
@media (max-width: 480px) {
    .col-md-2--norm {
        width: 50%;
    }
}

.page-content--parthners {
    padding: 35px 0 40px; 
    background-color: #0a0a0a;
}

.parthners__title {
    margin-bottom: 60px;
    text-align: left; 
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
}

.parthners__item {
    position: relative;
    height: 65px;
    margin-bottom: 43px;
}

.parthners__img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.dev__title {
    text-align: center; 
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #222;
    font-size: 24px;
    line-height: 2;
}

.dev__sub {
    margin-bottom: 50px; 
    text-align: center;
    color: #727171;
    font-size: 14px;
    line-height: 2.5;
}

.dev__item {
    margin-bottom: 10px;
}

.dev__subtitle {
    margin-bottom: 36px; 
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1;
}
.dev__subtitle--md {
    margin-bottom: 20px;
}
.dev__subtitle--sm {
    margin-bottom: 30px;
}

.dev__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; 
    -webkit-justify-content: space-between;
            justify-content: space-between;
}
@media (max-width: 640px) {
    .dev__list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
                justify-content: center;
    }
}

.dev__col-4 {
    max-width: 295px;
    margin-bottom: 15px; 

    -webkit-box-flex: 0;
    -webkit-flex: 0 0 295px;
        -ms-flex: 0 0 295px;
            flex: 0 0 295px;
}

.dev__col-5 {
    max-width: 235px;
    margin-bottom: 33px; 

    -webkit-box-flex: 0;
    -webkit-flex: 0 0 235px;
        -ms-flex: 0 0 235px;
            flex: 0 0 235px;
}

.dev__col-6 {
    max-width: 185px;
    margin-bottom: 40px; 

    -webkit-box-flex: 0;
    -webkit-flex: 0 0 185px;
        -ms-flex: 0 0 185px;
            flex: 0 0 185px;
}

.dev__inner {
    font-size: 0;
}

.dev__frame {
    position: relative; 

    -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.dev__frame--lg {
    height: 256px;
    margin-bottom: 15px;
}
.dev__frame--md {
    height: 195px;
    margin-bottom: 10px;
}
.dev__frame--sm {
    height: 160px;
    margin-bottom: 8px;
}

.dev__img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.dev__name {
    text-align: center; 
    letter-spacing: .76px;
    text-transform: uppercase;
    color: #000;
    line-height: 1;
}
.dev__name--lg {
    margin-bottom: 10px; 
    font-size: 30px;
}
.dev__name--md {
    margin-bottom: 7px; 
    font-size: 23px;
}
.dev__name--sm {
    margin-bottom: 10px; 
    font-size: 19px;
}

.dev__pos {
    text-align: center;
    letter-spacing: .76px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700; 
    line-height: 1;
}
.dev__pos--lg {
    font-size: 24px;
}
.dev__pos--md {
    font-size: 18px;
}
.dev__pos--sm {
    font-size: 15px;
}

.btn-dw {
    width: 150px;
    border-radius: 3px;
}

.subscribe-info__title {
    margin-bottom: 25px;
    text-align: left; 
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #222;
    font-size: 18px;
    line-height: 1;
}

.responsive-img--letter {
    padding: 0 140px;
}

.showhide {
    display: none !important;
}

.menu-btn {
    position: absolute;
    z-index: 9999; 
    top: 0;
    right: 20px;
    display: inline-block;
    width: 56px;
    height: 56px;
    padding: 24px 18px;
}
.menu-btn__item {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.menu-btn__item:not(:last-child) {
    margin-bottom: 3px;
}

.menuzord {
    text-align: right;
}

.mobille-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    display: block;
    width: 250px;
    -webkit-transition: .5s;
            transition: .5s;
    background-color: #222;
}
.mobille-menu.active {
    -webkit-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
            transform: translateX(-250px);
}
.mobille-menu__inner {
    padding: 50px 20px;
}
.mobille-menu__item {
    margin-bottom: 5px;
}
.mobille-menu__link {
    text-decoration: none;
    text-transform: uppercase; 
    color: #fff;
    font-size: 14px;
}
.mobille-menu__link:hover {
    color: #16b8ed;
}

body.active {
    overflow: hidden;
}

.wrapper {
    -webkit-transition: .5s;
            transition: .5s;
}
.wrapper.active {
    -webkit-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
            transform: translateX(-250px);
}
